@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  box-sizing: border-box;
  margin: auto 10%;
  color: black;
  scroll-behavior: smooth;
}
.portfolio {
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
}
.navbar {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  align-items: center;
  width: 80%;
  z-index: 2;
}
.navbar-items {
  display: flex;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}
li {
  list-style: none;
}
li > a {
  text-decoration: none;
  padding-inline: 2rem;
  color: black;
}
.main-section {
  padding: 90px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}
#resume {
  border-radius: 0.7rem;
  font-size: 1.4rem;
  padding: 0 0.5rem;
}
#resume:hover {
  background-color: grey;
  color: aliceblue;
}

.text {
  align-self: center;
}
.text > h3 {
  margin-bottom: 3rem;
}
main-section > img {
  border-radius: 500px 500px 500px 500px;
  width: 30%;
}
.skills-items {
  display: flex;
  margin: 5rem auto 10rem auto;
  font-size: 2rem;
}

.skills-items > div {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.education > h1 {
  margin-top: 5rem;
}
.education > div {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: black;
}

.proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects > h1 {
  margin-bottom: 5rem;
}

.project__1 {
  position: relative;
  width: 60rem;
  padding: 2rem;
}

.project__img {
  display: block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 93.5%;
  height: 89%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  transform: translate(3.5%, 6%);
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover {
  opacity: 1;
}
.overlay:hover > * {
  transform: translateY(0px);
}
.overlay > * {
  margin: 0.8rem auto;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  padding: 2rem 0 3rem 0;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  border-top: 2px solid black;
}
.social > div :hover,
.media > *:hover {
  border-bottom: 3px solid black;
}

.overlay > a {
  color: black;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  border: none;
}

.overlay > h1 {
  font-size: 2rem;
  border-bottom: 2px solid white;
}
.overlay > a:hover {
  background-color: grey;
}

@media (max-width: 920px) {
  :root {
    font-size: 0.5rem;
    text-align: center;
  }
  .navbar {
    position: relative;
  }
  .main-section {
    display: block;
    padding: 10px;
    font-size: 2rem;
  }
  .profile-img {
    margin-top: 1rem;
    width: 250px;
  }
  .navbar {
    position: relative;
  }
  .navbar-items {
    display: none;
  }
  .main-section {
    margin: 1.6rem;
  }
  .skills-items {
    display: block;
    font-size: 3rem;
    margin: 1rem;
  }
  .skills > h1,
  .projects > h1,
  .education > h1 {
    font-size: 5rem;
    border-bottom: 2px solid black;
    margin-top: 8rem;
  }
  .project__1 {
    width: 350px;
  }
  .overlay {
    font-size: 1em;
    width: 321px;
  }
  #education > div {
    font-size: 2rem;
  }
  .footer {
    font-size: 2rem;
    display: block;
  }
  .media {
    margin-top: 1rem;
  }
}
